
<div style="margin: 90px;">
  <h3 class="text-center">Sepetiniz</h3>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Total</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let basket of baskets; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ basket.product.name }}</td>
      <td>
        <button *ngIf="basket.quantity==1" (click)="deleteItem(basket)" class="button"><i class="fa-regular fa-trash-can"></i></button>
        <button id="button" *ngIf="basket.quantity>1" (click)="updateBasket(basket,-1)" class="button" ><i class="fa fa-minus"></i></button>
        <label class="label-control"
        id="changeQuantity-{{ basket.product.name }}"
        #basketQuantity
        [innerText]="basket.quantity"
        >
        </label>
        <button  (click)="updateBasket(basket,1)" class="button"><i class="fa fa-plus"></i></button>

        <!-- <input
          type="number"
          (click)="updateBasket(basket,basketQuantity)"
          min="1"
          class="form-control"
          [value]="basket.quantity"
           -->
        <!-- /> -->
      </td>
      <td>
        {{ basket.quantity * basket.product.price | currency: "":"":"1.2-2" }}
      </td>

    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th>Toplam</th>
      <!-- <th>{{(total) | currency:"":"":"1.2-2"}}</th> -->
      <th [innerText]="this.total | currency: '':'':'1.2-2'"></th>
      <th></th>
    </tr>
  </tfoot>
</table>
<div class="form-group text-center" >
  <button
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#paymentModal"
  >
    Pay
  </button>
</div>
</div>
<app-payment></app-payment>
