.table{
  background-color: antiquewhite;
  width: 70%;
  margin:auto;

}
.form-control{
  width: 70px;
}
.btn.btn-success{
margin-top: 10px;
}
.label-control{
  width: 32px;
  height: 32px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color:  #5d3ebc;
  color: #FFFF
}
.button{
  width: 32px;
  height: 32px;
  border: none;
  color: #5d3ebc; background-color: #FFFF;
}
