<div style="margin: 90px;">
  <h3 class="text-center">Sepetiniz</h3>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Transactions </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let basket of baskets; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ basket.product.name }}</td>
      <td>
        <input
          type="number"
          id="changeQuantity-{{ basket.product.name }}"
          (click)="changeProduct(basket,basketQuantity)"
          min="1"
          class="form-control"
          [value]="basket.quantity"
          #basketQuantity
        />
      </td>
      <td>
        {{ basket.quantity * basket.product.price | currency: "":"":"1.2-2" }}
      </td>
      <td>
        <button class="btn btn-sm btn-danger" (click)="deleteItem(basket)">
          Sil
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th>Toplam</th>
      <!-- <th>{{(total) | currency:"":"":"1.2-2"}}</th> -->
      <th [innerText]="this.total | currency: '':'':'1.2-2'"></th>
      <th></th>
    </tr>
  </tfoot>
</table>
<div class="form-group text-center" >
  <button
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#paymentModal"
  >
    Pay
  </button>
</div>
</div>
<app-payment></app-payment>
