<table
  *ngFor="let order of orders"
  class="table align-middle mb-0 bg-white"
  style="margin: 190px; width: 220px"
>
  <thead class="bg-light">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let orderDetail of order.orders">
      <td>
        <div class="d-flex align-items-center">

          <div class="ms-3">
            <p class="text-muted mb-0">{{ orderDetail.price }} TL</p>
            <p class="fw-bold mb-1">{{ orderDetail.productName }}</p>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ orderDetail.quantity }}</td>
    </tr>
    <tr >

      <th>Genel toplam</th>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <div class="ms-3">
          <p class="text-muted mb-0">{{ order.total }}</p>
        </div>
      </td>
    </tr>
    <td>
      <div class="d-flex align-items-center">

        <div >
          <p class="fw-bold">{{order.payment.cartOwner}}</p>

          <p class="text-muted mb-0">{{order.payment.cartNumber}}</p>

        </div>
      </div>
    </td>
  </tbody>
</table>
