<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<div>
  <div class="row" style="position: relative;left: 100%;">

    <div>
      <div >
        <button type="button" class="button" routerLink="/basket" >
          <span class="button-icon"
            ><i class="fa-solid fa-cart-shopping" style="color: rgb(76, 51, 152);"></i
          ></span>
          <span
            class="button-text" style="background-color: rgba(255, 255, 255, 0.533); "
            [innerText]="this.total | currency: '':'':'1.2-2'"
          ></span>
        </button>
      </div>
    </div>
  </div>
</div>
