<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="email"
        formControlName="email"
        required
      />
      <input
      type="password" placeholder="Enter Password"  required
        id="password"
        class="fadeIn third"
        name="login"
        formControlName="password"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
