section {
  background-color:  #5d3ebc;;
  top: 60px;
  left: 0px;
  right: 0px;
  position: fixed;
  height: 70px;
  padding-left: 40px;
  display: flex;
  justify-content: space-around;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.form {
  width: 50vh;
  position: absolute;
  top: 10px;
  height: 10px;
  max-height: 10px;

}

.form .fa-search {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9ca3af;
  cursor: pointer;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 1px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 45px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}
